@import "../../App.css";

.posts {
  box-shadow: 0px 0px 25px -10px black;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.container {
  padding: 20px;
}
.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.userInfo {
  display: flex;
  gap: 20px;
}
.userInfo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.details {
  display: flex;
  flex-direction: column;
}
.name {
  font-weight: 500;
}
.date {
  font-size: 12px;
}
.contant {
  margin: 20px 0px;
}
.contant img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  margin-top: 20px;
}
.infomation {
  display: flex;
  flex-direction: row;
  border-top: 1px solid rgb(206, 201, 201);
}

.item {
  margin-right: 4rem;
  cursor: pointer;
  font-size: 14px;
}

.yes {
  color: blue;
}
.dropdown-toggle::after {
  display: none !important;
}
#post-info {
  position: relative;
  margin-left: -15rem;
  top: -30px;
}

@media (width: 500px) {
  #post-info {
    margin-left: -5rem;
    top: -30px;
  }
  .item {
    margin-right: 0.3rem;
  }
}
 